# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Files that might be created by Xcode
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Compiled Application Bundles
AeroClean.app/
*.zip

# Scratch directories
scratch/
AppIcon.iconset/
